body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(221, 221, 97);
    text-align: center;
}

ul{
    text-align: center;
}

button{
    border-radius: 8px;
    background-color: #008CBA;
    color: white;
    margin-left: 10px;
}

img{
    width: 80%;
    height: auto;
}

.container{
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}