body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(221, 221, 97);
    text-align: center;
}

ul{
    text-align: center;
}

button{
    border-radius: 8px;
    background-color: #008CBA;
    color: white;
    margin-left: 10px;
}

img{
    width: 400px;
    height: auto;
}

.container{
    border: 2px solid black;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}